@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900,1000,1100,1200&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700&display=swap);
@media (min-width:1400px) {
    .container {
        max-width: 96% !important
    }
}

.row>* {
    position: relative
}

.h1,
h1 {
    font-size: 34px !important
}

.h2,
h2 {
    font-size: 34px !important
}

.h3,
h3 {
    font-size: 20px !important
}

.h4,
h4 {
    font-size: 24px !important
}

.h5,
h5 {
    font-size: 20px !important
}

.h6,
h6 {
    font-size: 16px !important
}

.display-1 {
    font-size: 80px !important
}

.display-2 {
    font-size: 72px !important
}

.display-3 {
    font-size: 64px !important
}

.display-4 {
    font-size: 56px !important
}

.bg-primary {
    background-color: salmon !important
}

.bg-soft-primary {
    background-color: rgba(47, 85, 212, .1) !important;
    border: 1px solid rgba(47, 85, 212, .1) !important;
    color: salmon !important
}

.text-primary {
    color: salmon !important
}

a {
    -webkit-transition: all .1s ease;
    transition: all .1s ease
}

a.text-primary:focus,
a.text-primary:hover {
    color: #284bc1 !important
}

.text-muted {
    color: #8492a6 !important
}

a.text-muted:focus,
a.text-muted:hover {
    color: #75859b !important
}

.text-light {
    color: #f8f9fc !important
}

a {
    -webkit-transition: all .1s ease;
    transition: all .1s ease
}

.d-flex .flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.badge {
    letter-spacing: .5px;
    padding: 4px 8px;
    font-weight: 600;
    line-height: 11px
}

.badge.badge-link:hover {
    color: #fff !important
}

.dropdown-primary .dropdown-menu .dropdown-item.active,
.dropdown-primary .dropdown-menu .dropdown-item.focus,
.dropdown-primary .dropdown-menu .dropdown-item:active,
.dropdown-primary .dropdown-menu .dropdown-item:focus,
.dropdown-primary .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: rgba(15, 15, 15, .9) !important
}

.breadcrumb {
    letter-spacing: .5px;
    padding: 8px 24px;
    display: block;
    border-radius: 14.25rem
}

.breadcrumb .breadcrumb-item {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding-left: 0;
    display: inline-block
}

.breadcrumb .breadcrumb-item a {
    color: #3c4858
}

.breadcrumb .breadcrumb-item a:hover {
    color: salmon
}

.breadcrumb .breadcrumb-item.active {
    color: salmon
}

.breadcrumb .breadcrumb-item:before {
    content: ""
}

.breadcrumb .breadcrumb-item:after {
    content: " -" !important;
    font-size: 14px;
    color: #3c4858;
    font-family: 'Material Design Icons';
    padding-left: 5px
}

.breadcrumb .breadcrumb-item:last-child:after {
    display: none
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0
    }
}

@keyframes animate-positive {
    0% {
        width: 0
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.social-icon li a {
    color: #3c4858;
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 28px;
    text-align: center;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    overflow: hidden;
    position: relative
}

.social-icon li a .fea-social {
    stroke-width: 2
}

.social-icon li a:hover {
    background-color: rgba(0, 0, 0, .56);
    border-color: rgba(0, 0, 0, .56) !important;
    color: #fff !important
}

.social-icon li a:hover .fea-social {
    fill: #FA8072
}

.social-icon.social li a {
    color: #adb5bd;
    border-color: #adb5bd
}

.social-icon.foot-social-icon li a {
    color: #adb5bd;
    border-color: #283353
}

.back-to-top {
    z-index: 99;
    position: fixed;
    bottom: 28px !important;
    right: 28px !important;
    display: none;
    -webkit-transition: all .1s ease;
    transition: all .1s ease
}

.back-to-top .icons {
    -webkit-transition: all .1s ease;
    transition: all .1s ease
}

.back-to-top:hover {
    -webkit-animation: spinner-animation 5s linear infinite;
    animation: spinner-animation 5s linear infinite
}

.back-to-top:hover .icons {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

@media (max-width:768px) {
    .display-1 {
        font-size: 56px !important
    }
    .display-2 {
        font-size: 50px !important
    }
    .display-3 {
        font-size: 42px !important
    }
    .display-4 {
        font-size: 36px !important
    }
}

body {
    font-family: Nunito, sans-serif;
    overflow-x: hidden !important;
    font-size: 16px;
    color: #161c2d
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Nunito, sans-serif;
    font-weight: 600
}

::-moz-selection {
    background: rgba(47, 85, 212, .9);
    color: #fff
}

::selection {
    background: rgba(47, 85, 212, .9);
    color: #fff
}

a {
    text-decoration: none !important;
    color: #0a4192
}

p {
    line-height: 1.6
}

.section {
    padding: 100px 0;
    position: relative
}

@media (max-width:768px) {
    .section {
        padding: 60px 0
    }
}

.btn-group .dropdown-toggle:after {
    content: "";
    position: relative;
    right: -4px;
    top: -2px;
    border: solid #fff;
    border-radius: .5px;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 0;
    vertical-align: 0
}

.btn-group .dropdown-menu {
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(60, 72, 88, .15)
}

.btn-group .dropdown-menu:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 45px;
    box-sizing: border-box;
    border: 7px solid #495057;
    border-radius: .5px;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -2px 2px 2px -1px rgba(22, 28, 45, .15)
}

.dropdown-primary .dropdown-menu .dropdown-item.active,
.dropdown-primary .dropdown-menu .dropdown-item.focus,
.dropdown-primary .dropdown-menu .dropdown-item:active,
.dropdown-primary .dropdown-menu .dropdown-item:focus,
.dropdown-primary .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: #2f55d4 !important
}

.dropdown .dropdown-toggle:after {
    display: none
}

#topnav .buy-button .dropdown .dropdown-toggle:after,
#topnav .buy-menu-btn .dropdown .dropdown-toggle:after {
    display: none
}

.dropdown-primary .dropdown-menu .dropdown-item.active,
.dropdown-primary .dropdown-menu .dropdown-item.focus,
.dropdown-primary .dropdown-menu .dropdown-item:active,
.dropdown-primary .dropdown-menu .dropdown-item:focus,
.dropdown-primary .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: #2f55d4 !important
}

@media (max-width:425px) {
    #topnav .buy-menu-btn {
        display: block !important;
        margin: 0 10px;
        padding: 10px 20px
    }
    #topnav .buy-menu-btn .dropdown .dropdown-menu.show {
        transform: translate3d(0, -54px, 0) !important
    }
}

.para-desc {
    max-width: 600px
}

.spin-anything {
    -webkit-animation: spinner-animation 5s linear infinite;
    animation: spinner-animation 5s linear infinite
}

@-webkit-keyframes spinner-animation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spinner-animation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#topnav {
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: transparent;
    border: 0;
    -webkit-transition: all .1s ease;
    transition: all .1s ease
}

#topnav .logo {
    float: left;
    color: #3c4858 !important
}

#topnav .logo .l-dark {
    display: none
}

#topnav .logo .l-light {
    display: inline-block
}

#topnav .logo:focus {
    outline: 0
}

#topnav .has-submenu.active a {
    color: #fff
}

#topnav .has-submenu.active .submenu li.active>a {
    color: rgba(15, 15, 15, .9) !important
}

#topnav .has-submenu.active.active .menu-arrow {
    border-color: rgba(15, 15, 15, .9)
}

#topnav .has-submenu {
    position: relative
}

#topnav .has-submenu .submenu .submenu-arrow {
    border: solid #3c4858;
    border-radius: .5px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    right: 20px;
    top: 14px
}

#topnav .has-submenu .submenu .has-submenu:hover .submenu-arrow {
    border-color: rgba(15, 15, 15, .9)
}

#topnav .navbar-toggle {
    border: 0;
    position: relative;
    width: 60px;
    padding: 0;
    margin: 0;
    cursor: pointer
}

#topnav .navbar-toggle .lines {
    width: 20px;
    display: block;
    position: relative;
    margin: 28px 20px;
    height: 18px
}

#topnav .navbar-toggle span {
    height: 2px;
    width: 100%;
    background-color: #3c4858;
    display: block;
    margin-bottom: 5px;
    -webkit-transition: -webkit-transform .1s ease;
    transition: -webkit-transform .1s ease;
    transition: transform .1s ease;
    transition: transform .1s ease, -webkit-transform .1s ease
}

#topnav .navbar-toggle span:last-child {
    margin-bottom: 0
}

#topnav .buy-button {
    float: right;
    line-height: 68px
}

#topnav .buy-button>li {
    line-height: initial
}

#topnav .buy-button .login-btn-primary {
    display: none
}

#topnav .buy-button .login-btn-light {
    display: inline-block
}

#topnav .buy-button .dropdown .dropdown-toggle:after,
#topnav .buy-menu-btn .dropdown .dropdown-toggle:after {
    display: none
}

#topnav .navbar-toggle.open span {
    position: absolute
}

#topnav .navbar-toggle.open span:first-child {
    top: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

#topnav .navbar-toggle.open span:nth-child(2) {
    visibility: hidden
}

#topnav .navbar-toggle.open span:last-child {
    width: 100%;
    top: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#topnav .navbar-toggle.open span:hover {
    background-color: rgba(15, 15, 15, .9)
}

#topnav .navbar-toggle .navigation-menu>li>a:hover,
#topnav .navbar-toggle:focus,
#topnav .navbar-toggle:hover {
    background-color: transparent
}

#topnav .navigation-menu {
    list-style: none;
    margin: 0;
    padding: 0
}

#topnav .navigation-menu>li {
    float: left;
    display: block;
    position: relative;
    margin: 0 10px
}

#topnav .navigation-menu>li.active>a,
#topnav .navigation-menu>li:hover>a {
    color: #099d01 !important
}

#topnav .navigation-menu>li>a {
    display: block;
    color: rgba(15, 15, 15, .9);
    font-size: 13px;
    background-color: transparent !important;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    -webkit-transition: all .1s;
    transition: all .1s;
    font-family: Nunito, sans-serif;
    padding-left: 15px;
    padding-right: 15px
}

#topnav .navigation-menu>li>a:active,
#topnav .navigation-menu>li>a:hover {
    color: rgba(15, 15, 15, .9)
}

#topnav .navigation-menu .has-submenu .menu-arrow {
    border: solid #fff;
    border-radius: .5px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    -webkit-transition: all .1s;
    transition: all .1s;
    right: -1px;
    top: 28px
}

#topnav .navigation-menu .has-submenu:hover .menu-arrow {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg)
}

#topnav .menu-extras {
    float: right
}

#topnav.scroll {
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, .15);
    box-shadow: 0 0 3px rgba(60, 72, 88, .15)
}

#topnav.scroll .navigation-menu>li>a {
    color: #3c4858
}

#topnav.scroll .navigation-menu>li>.menu-arrow {
    border-color: #3c4858
}

#topnav.scroll .navigation-menu>li.active>a,
#topnav.scroll .navigation-menu>li:hover>a {
    color: #099d01
}

#topnav.scroll .navigation-menu>li.active>.menu-arrow,
#topnav.scroll .navigation-menu>li:hover>.menu-arrow {
    border-color: #099d01
}

#topnav.defaultscroll.dark-menubar .logo {
    line-height: 70px
}

#topnav.defaultscroll.scroll .logo {
    line-height: 12px
}

#topnav.defaultscroll.scroll.dark-menubar .logo {
    line-height: 12px
}

#topnav.nav-sticky .navigation-menu.nav-light>li>a {
    color: #3c4858
}

#topnav.nav-sticky .navigation-menu.nav-light>li.active>a {
    color: rgba(15, 15, 15, .9) !important
}

#topnav.nav-sticky .navigation-menu.nav-light>li.active>.menu-arrow,
#topnav.nav-sticky .navigation-menu.nav-light>li:hover>.menu-arrow {
    border-color: rgba(15, 15, 15, .9) !important
}

#topnav.nav-sticky .navigation-menu.nav-light>li.active>a,
#topnav.nav-sticky .navigation-menu.nav-light>li:hover>a {
    color: rgba(15, 15, 15, .9) !important
}

#topnav.nav-sticky .navigation-menu.nav-light .has-submenu .menu-arrow {
    border-color: #3c4858
}

#topnav.nav-sticky.tagline-height {
    top: 0 !important
}

#topnav.nav-sticky .buy-button .login-btn-primary {
    display: inline-block
}

#topnav.nav-sticky .buy-button .login-btn-light {
    display: none
}

#topnav.nav-sticky .logo .l-dark {
    display: inline-block
}

#topnav.nav-sticky .logo .l-light {
    display: none
}

.logo {
    font-weight: 700;
    font-size: 28px;
    padding: 0 0 6px;
    letter-spacing: 1px;
    line-height: 22px
}

@media (min-width:1025px) {
    #topnav .navigation-menu>li .submenu.megamenu {
        width: 1116px !important
    }
    #topnav .navigation-menu>li .submenu.megamenu>li {
        min-width: 223px !important
    }
}

@media screen and (max-width:1024px) and (min-width:992px) {
    #topnav .navigation-menu>li .submenu.megamenu {
        width: 936PX !important
    }
    #topnav .navigation-menu>li .submenu.megamenu>li {
        min-width: 180px
    }
}

@media (min-width:992px) {
    #topnav .navigation-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: flex-end
    }
    #topnav .navigation-menu>.has-submenu:hover .menu-arrow {
        top: 33px !important
    }
    #topnav .navigation-menu>.has-submenu.active .menu-arrow {
        top: 28px
    }
    #topnav .navigation-menu>li .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        padding: 15px 0;
        list-style: none;
        min-width: 180px;
        visibility: hidden;
        opacity: 0;
        margin-top: 10px;
        border-radius: 12px;
        -webkit-box-shadow: 0 0 5px rgba(60, 72, 88, .35);
        box-shadow: 0 0 5px rgba(60, 72, 88, .35);
        background-color: #fff
    }
    #topnav .navigation-menu>li .submenu li {
        position: relative
    }
    #topnav .navigation-menu>li .submenu li a {
        display: block;
        padding: 10px 20px;
        clear: both;
        white-space: nowrap;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: .04em;
        font-weight: 700;
        color: #3c4858 !important;
        -webkit-transition: all .3s;
        transition: all .3s
    }
    #topnav .navigation-menu>li .submenu li a:hover {
        color: rgba(15, 15, 15, .9) !important
    }
    #topnav .navigation-menu>li .submenu li ul {
        list-style: none;
        padding-left: 0;
        margin: 0
    }
    #topnav .navigation-menu>li .submenu.megamenu {
        white-space: nowrap;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 74px
    }
    #topnav .navigation-menu>li .submenu.megamenu>li {
        overflow: hidden;
        display: inline-block;
        vertical-align: top
    }
    #topnav .navigation-menu>li .submenu.megamenu>li .submenu {
        left: 100%;
        top: 0;
        margin-left: 10px;
        margin-top: -1px
    }
    #topnav .navigation-menu>li .submenu>li .submenu {
        left: 101%;
        top: 0;
        margin-left: 10px;
        margin-top: -1px
    }
    #topnav .navigation-menu>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
        min-height: 62px
    }
    #topnav .navigation-menu>li:hover>.menu-arrow {
        border-color: rgba(15, 15, 15, .9)
    }
    #topnav .navigation-menu>li.active>a,
    #topnav .navigation-menu>li:hover>a {
        color: #099d01 !important
    }
    #topnav .navigation-menu>li.last-elements .submenu {
        left: auto;
        right: 0
    }
    #topnav .navigation-menu>li.last-elements .submenu:before {
        left: auto;
        right: 10px
    }
    #topnav .navigation-menu>li.last-elements .submenu>li.has-submenu .submenu {
        left: auto;
        right: 100%;
        margin-left: 0;
        margin-right: 10px
    }
    #topnav .navigation-menu.nav-light>li>a {
        color: rgba(255, 255, 255, .5)
    }
    #topnav .navigation-menu.nav-light>li.active>a {
        color: #fff !important
    }
    #topnav .navigation-menu.nav-light>li:hover>.menu-arrow {
        border-color: #fff !important
    }
    #topnav .navigation-menu.nav-light>li:hover>a {
        color: #fff !important
    }
    #topnav .navigation-menu.nav-light .has-submenu .menu-arrow {
        border-color: rgba(255, 255, 255, .5)
    }
    #topnav .navigation-menu.nav-light .has-submenu.active .menu-arrow {
        border-color: #fff !important
    }
    #topnav .navigation-menu.nav-right {
        -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
        justify-content: flex-end !important
    }
    #topnav .navigation-menu.nav-left {
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important
    }
    #topnav .navigation-menu.nav-left>li.last-elements .submenu {
        left: 0 !important;
        right: auto !important
    }
    #topnav .navigation-menu.nav-left>li.last-elements .submenu:before {
        left: 45px !important;
        right: auto !important
    }
    #topnav .buy-button {
        padding-left: 15px;
        margin-left: 15px
    }
    #topnav .navbar-toggle {
        display: none
    }
    #topnav #navigation {
        display: block !important
    }
    #topnav.scroll {
        top: 0
    }
    #topnav.scroll .navigation-menu>li>a {
        padding-top: 20px;
        padding-bottom: 20px
    }
    #topnav.scroll-active .navigation-menu>li>a {
        padding-top: 25px;
        padding-bottom: 25px
    }
}

@media (max-width:991px) {
    #topnav {
        margin-left: 9px;
        margin-right: 9px;
        border-radius: 14px;
        background-color: #fff;
        min-height: 74px;
        padding-bottom: 15px;
        box-shadow: 0 2px 8px rgb(18 17 36 / 4%), 0 4px 32px rgb(18 17 36 / 8%)
    }
    #topnav .logo .l-dark {
        display: inline-block !important
    }
    #topnav .logo .l-light {
        display: none !important
    }
    #topnav .navigation-menu {
        float: none
    }
    #topnav .navigation-menu>li {
        float: none
    }
    #topnav .navigation-menu>li .submenu {
        display: none;
        list-style: none;
        padding-left: 20px;
        margin: 0
    }
    #topnav .navigation-menu>li .submenu li a {
        display: block;
        position: relative;
        padding: 7px 15px;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: .04em;
        font-weight: 700;
        color: #3c4858 !important;
        -webkit-transition: all .3s;
        transition: all .3s
    }
    #topnav .navigation-menu>li .submenu.open {
        display: block
    }
    #topnav .navigation-menu>li .submenu .submenu {
        display: none;
        list-style: none
    }
    #topnav .navigation-menu>li .submenu .submenu.open {
        display: block
    }
    #topnav .navigation-menu>li .submenu.megamenu>li>ul {
        list-style: none;
        padding-left: 0
    }
    #topnav .navigation-menu>li .submenu.megamenu>li>ul>li>span {
        display: block;
        position: relative;
        padding: 10px 15px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        color: #8492a6
    }
    #topnav .navigation-menu>li>a {
        color: #3c4858;
        padding: 10px 20px
    }
    #topnav .navigation-menu>li>a:after {
        position: absolute;
        right: 15px
    }
    #topnav .navigation-menu>li .submenu li a:hover,
    #topnav .navigation-menu>li.has-submenu.open>a,
    #topnav .navigation-menu>li>a:hover {
        color: rgba(15, 15, 15, .9)
    }
    #topnav .menu-extras .menu-item {
        border-color: #8492a6
    }
    #topnav .navbar-header {
        float: left
    }
    #topnav .buy-button .login-btn-primary {
        display: inline-block !important
    }
    #topnav .buy-button .login-btn-light {
        display: none
    }
    #topnav .has-submenu .submenu .submenu-arrow {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        right: 20px;
        top: 12px
    }
    #topnav .has-submenu.active a {
        color: rgba(15, 15, 15, .9)
    }
    #navigation {
        top: 74px;
        left: 0;
        width: 100%;
        display: none;
        height: auto;
        padding-bottom: 0;
        overflow: auto
    }
    #navigation.open {
        display: block;
        overflow-y: auto
    }
}

@media (max-width:768px) {
    #topnav .navigation-menu .has-submenu .menu-arrow {
        right: 16px;
        top: 16px
    }
    #topnav .buy-button {
        padding: 3px 0
    }
}

@media (min-width:768px) {
    #topnav .navigation-menu>li.has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        margin-top: -10px
    }
    #topnav .navigation-menu>li.has-submenu:hover>.submenu>li.has-submenu:hover>.submenu {
        visibility: visible;
        opacity: 1;
        margin-left: 0;
        margin-right: 0
    }
    .navbar-toggle {
        display: block
    }
}

@media (max-width:375px) {
    #topnav .buy-button {
        display: none
    }
    #topnav .buy-menu-btn {
        display: block !important;
        margin: 0 10px;
        padding: 10px 20px
    }
    #topnav .buy-menu-btn .dropdown .dropdown-menu.show {
        -webkit-transform: translate3d(0, -54px, 0) !important;
        transform: translate3d(0, -54px, 0) !important
    }
    #topnav .navbar-toggle .lines {
        margin-right: 0 !important
    }
}

#navmenu-nav li.active a {
    color: rgba(15, 15, 15, .9)
}

#navmenu-nav li.account-menu.active .navbar-link,
#navmenu-nav li.account-menu:hover .navbar-link {
    color: #fff !important;
    background-color: rgba(15, 15, 15, .9) !important
}

.bg-home {
    height: 100vh;
    background-size: cover;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    position: relative;
    background-position: center center
}

.bg-half-260 {
    padding: 260px 0;
    background-size: cover;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    position: relative;
    background-position: center center
}

.bg-half-170 {
    padding: 170px 0;
    background-size: cover;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    position: relative;
    background-position: center center
}

.bg-half {
    padding: 32px 0;
    background-size: cover;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    position: relative;
    background-position: center center
}

.mt-80 {
    margin-top: 80px
}

@media (max-width:768px) {
    .bg-half {
        padding: 50px 0 50px
    }
}

@media (max-width:767px) {
    .bg-half-170,
    .bg-half-260,
    .bg-home,
    .bg-marketing,
    .swiper-slider-hero .swiper-container .swiper-slide {
        padding: 150px 0;
        height: auto
    }
}

.tooltip {
    position: relative;
    opacity: 100 !important;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    background-color: #bebebe;
    color: #fff;
    font-weight: 600;
    margin-top: 2px;
    margin-left: 15px !important;
    border-radius: 50%;
    cursor: pointer
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 180px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    display: block;
    position: relative;
    margin-top: -50px;
    margin-left: -435%;
    overflow-x: wrap
}

@media (max-width:768px) {
    .quordle-title {
        text-align: center;
        font-size: 22px
    }
}

.quordle_text {
    font-size: 18px
}

.quordle-switch {
    height: 28px !important;
    width: 50px !important;
    background-color: rgba(214, 214, 214, .434);
    cursor: pointer;
    border-color: rgba(214, 214, 214, .434) !important
}

.quordle-switch:checked {
    height: 28px !important;
    width: 50px !important;
    background-color: #5d68e2 !important;
    cursor: pointer
}

.quordle-switch:before {
    background-color: rgba(214, 214, 214, .434) !important
}

.quordle-point {
    font-weight: 700
}

.quordle-block {
    border-radius: 15px;
    margin-top: 36px;
    padding-top: 31px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 0 32px rgb(0 0 0 / 9%)
}

.quordle-step {
    border-radius: 15px;
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 33px;
    padding-right: 33px;
    box-shadow: 0 0 33px rgb(0 0 0 / 9%);
    background-color: #d4daed;
    color: #f72260;
    margin-left: 11px;
    margin-right: 11px;
    height: 356px
}

.quordle-frame {
    border-radius: 15px;
    height: 645px;
    background-color: #ff5269
}

.nquordle-frame {
    border-radius: 15px;
    height: 645px;
    background-color: hsla(215, 86%, 66%, .26)
}

.quordle-inframe {
    padding: 5px;
    border-radius: 15px;
    height: 645px;
    background-color: #ff5269
}

.btn-mw {
    background-color: #ff5269 !important;
    color: #fff !important;
    font-size: 1rem !important;
    padding: 7px 13px !important;
    font-weight: 600 !important;
    border-radius: 12px !important;
    border-color: no !important;
    margin: 0 !important;
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
    border: none;
    background: 0 0
}

.btn-mw:hover {
    background-color: #ff1a38 !important;
    color: #fff !important
}

.sp-50 {
    margin-left: -50px
}

.sp-256 {
    margin-left: -256px
}

.mwmenu {
    border-radius: 10px;
    margin-top: 10px !important;
    padding-left: 17px;
    padding-right: 17px;
    max-width: 96% !important;
    box-shadow: 0 2px 8px rgb(18 17 36 / 4%), 0 4px 32px rgb(18 17 36 / 8%)
}

@media (max-width:991px) {
    .mwmenu {
        box-shadow: none
    }
}

.quordle-main {
    background-color: rgba(233, 197, 150, .2);
    border-radius: 16px;
    margin-top: 40px;
    max-width: 96% !important;
    margin-left: auto;
    margin-right: auto
}

.quordle-ar {
    border-radius: 8px;
    border-color: rgba(106, 134, 185, .2);
    background-color: rgba(106, 134, 185, .2);
    padding: 12px;
    border: none;
    margin-top: 6px
}

.quordle-h1,
quordle-h1 {
    font-size: 38px !important;
    font-weight: 700 !important;
    margin-top: 35px
}

@media (max-width:767px) {
    .quordle-h1 {
        font-size: 34px !important
    }
}

.quordle-h2 {
    font-size: 1.2rem !important;
    font-weight: 300
}

.quordle_head {
    font-size: 26px !important;
    font-weight: 700 !important
}

@media (max-width:1024px) {
    .quordle_head {
        font-size: 24px !important;
        font-weight: 800 !important
    }
}

@media (max-width:512px) {
    .quordle_head {
        font-size: 20px !important;
        font-weight: 800 !important
    }
}

.number {
    font-size: 38px !important;
    font-weight: 700 !important
}

.frames_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -12px
}

.quordle_time {
    display: block;
    margin: 12px;
    width: calc(25% - 24px);
    text-align: center;
    padding: 12px 20px;
    outline: 0;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: .5px;
    transition: all .3s;
    font-weight: 600;
    border-radius: 8px;
    color: #f0f8ff !important;
    border: 1px solid #dee2e6 !important;
    background: linear-gradient(38deg, #d681ff 0, #ff81b8 62%)
}

@media (max-width:767px) {
    .quordle_time {
        width: calc(50% - 24px);
        font-size: 12px
    }
}

.quordle_time:hover {
    background: linear-gradient(38deg, rgba(214, 129, 255, .5) 0, rgba(255, 129, 184, .5) 62%)
}

.mlogotext {
    font-size: 1.4rem;
    font-weight: 700;
    padding-left: 3px;
    vertical-align: middle;
    color: #000
}

@media (max-width:400px) {
    .mlogotext {
        font-size: .9rem
    }
}

.logo_img {
    height: 28px
}

@media (max-width:400px) {
    .logo_img {
        height: 22px
    }
}

.share_s {
    padding: 36px 0;
    position: relative
}

.footer-bar {
    margin-top: 30px;
    margin-bottom: 30px
}

.result {
    position: relative;
    width: 100%;
    height: 55px;
    overflow: hidden
}

.result__info {
    position: absolute;
    bottom: 4px;
    color: #ddd;
    font-size: 1rem;
    transition: all 150ms ease-in-out;
    transform: translateY(200%);
    opacity: 0
}

.result__info.right {
    right: 8px
}

.result__info.left {
    left: 8px
}

.result__viewbox {
    width: 100%;
    height: 100%;
    background: rgba(15, 15, 15, .9);
    border-radius: 8px;
    color: #ddd;
    text-align: center
}

.basic_res {
    line-height: 55px !important
}

.adv_res {
    height: 55px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 6px
}

.result #copy-btn {
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 38px;
    height: 38px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 350ms cubic-bezier(.175, .885, .32, 1.275);
    cursor: pointer;
    z-index: 2
}

.result #copy-btn:active {
    box-shadow: 0 0 0 200px rgba(255, 255, 255, .08)
}

.result:hover #copy-btn {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.35)
}

.field-title {
    position: absolute;
    top: -10px;
    left: 8px;
    transform: translateY(-50%);
    font-weight: 800;
    text-transform: uppercase;
    font-size: .85rem;
    pointer-events: none;
    user-select: none
}

.options {
    width: 100%;
    height: auto;
    margin: 50px 0
}

.range__slider {
    position: relative;
    width: 100%;
    height: calc(65px - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(106, 134, 185, .2);
    border-radius: 8px;
    margin: 30px 0
}

.range__slider::after,
.range__slider::before {
    position: absolute;
    font-size: .9rem;
    font-weight: 700
}

.range__slider::before {
    content: attr(data-min);
    left: 10px
}

.range__slider::after {
    content: attr(data-max);
    right: 10px
}

.range__slider .length__title::after {
    content: attr(data-length);
    position: absolute;
    right: -16px;
    font-variant-numeric: tabular-nums
}

#slider {
    -webkit-appearance: none;
    width: calc(100% - (70px));
    height: 2px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .314);
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: all .15s ease-in-out
}

#slider::-webkit-slider-thumb:hover {
    background: #212121;
    transform: scale(1.2)
}

#slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    transition: background .15s ease-in-out
}

#slider::-moz-range-thumb:hover {
    background: #d4d4d4
}

.settings {
    position: relative;
    height: auto;
    widows: 100%;
    display: flex;
    flex-direction: column
}

.settings .setting {
    position: relative;
    width: 100%;
    height: calc(55px - 10px);
    background: rgba(106, 134, 185, .2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #000;
    margin-bottom: 8px
}

.settings .setting input {
    opacity: 0;
    position: absolute
}

.settings .setting input+label {
    user-select: none
}

.settings .setting input+label::after,
.settings .setting input+label::before {
    content: "";
    position: absolute;
    transition: 150ms cubic-bezier(.24, 0, .5, 1);
    transform: translateY(-50%);
    top: 50%;
    right: 10px;
    cursor: pointer
}

.settings .setting input+label::before {
    height: 30px;
    width: 50px;
    border-radius: 30px;
    background: rgba(118, 199, 124, .434)
}

.settings .setting input+label::after {
    height: 24px;
    width: 24px;
    border-radius: 60px;
    right: 32px;
    background: #fff
}

.settings .setting input:checked+label:before {
    background: #22c623;
    transition: all 150ms cubic-bezier(0, 0, 0, .1)
}

.settings .setting input:checked+label:after {
    right: 14px
}

.settings .setting input:focus+label:before {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .75)
}

.settings .setting input:disabled+label:after,
.settings .setting input:disabled+label:before {
    cursor: not-allowed
}

.settings .setting input:disabled+label:before {
    background: #4f4f6a
}

.settings .setting input:disabled+label:after {
    background: #909090
}

.symbols {
    opacity: 55 !important;
    resize: none;
    margin-left: 12px;
    white-space: nowrap;
    overflow-x: hidden;
    width: 300px;
    border-radius: 5px;
    border-color: snow;
    text-align: center;
    outline: 0
}

@media (max-width:991px) {
    .symbols {
        max-width: 140px
    }
}

.length_a {
    resize: none;
    margin-left: 12px;
    white-space: nowrap;
    overflow-x: hidden;
    border-radius: 5px;
    border-color: snow;
    background-color: snow;
    text-align: center;
    outline: 0;
    border: none;
    height: 30px;
    min-width: 70px
}

.btn.generate {
    user-select: none;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 8px;
    color: #fff;
    border: none;
    background-image: linear-gradient(135deg, #1ba619 0, #049022 100%);
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 150ms ease
}

.btn.generate:active {
    transform: translateY(-3%);
    box-shadow: 0 4px 8px rgba(255, 255, 255, .08)
}

.btn.copy {
    user-select: none;
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 2px;
    border-radius: 8px;
    color: #fff;
    border: none;
    background-image: linear-gradient(135deg, #00000042 0, #6c6c6c87 100%);
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 150ms ease
}

.btn.copy:active {
    transform: translateY(-3%);
    box-shadow: 0 4px 8px rgba(255, 255, 255, .08)
}

.support {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    display: flex
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-20deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

.dropbtn {
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .04em;
    font-weight: 700;
    outline: 0 !important;
    background-color: transparent
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 190px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .04em;
    font-weight: 700;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden
}

.dropdown-content a {
    text-align-last: start;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block
}

.no-padding {
    padding: 0 !important;
    width: 100% !important
}

.banner {
    display: block;
    margin: -18px auto 20px
}

.banner_middle {
    width: 728px;
    height: 90px
}

.banner_under_mobile {
    display: none
}

@media (max-width:479px) {
    .banner_under {
        display: none
    }
    .banner_under_mobile {
        display: block
    }
}

.Game-keyboard-button:hover {
    background-color: #dee7ff
}

.light {
    background-color: #fff
}

.flag {
    width: 30px;
    vertical-align: middle;
    margin-right: 6px;
    float: left
}

.frames_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -12px
}

@media (max-width:991px) {
    .frames_block {
        margin-left: 3px;
        margin-right: 3px
    }
}

.quordle_but {
    display: block;
    margin: 12px;
    width: calc(10% - 24px);
    text-align: center;
    padding: 12px 20px
}

.faq_block {
    border-radius: 14px;
    margin-top: 35px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #bfd4e080;
}

.quordle-h2 {
    font-size: 19px !important;
    font-weight: 400 !important;
}

.quordle_h3 {
    padding-bottom: 10px;
    font-weight: 700;
    text-align: left;
}

.quordle_text {
    text-align: left;
    font-size: 18px;
}

.g_block {
    background-color: white;
    text-align: left;
    font-family: Nunito, sans-serif !important;
    min-height: 600px;
}

.row__field:focus {
    outline: none;
}

.quordle_but {
    min-width: max-content;
    padding: 18px 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: #7365df !important;
    color: white !important;
    border-radius: 8px;
    margin-right: 20px;
    margin-top: 10px;
}

.quordle_but:hover {
    background-color: #6559c5 !important;
}