body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    margin: 0 0 10px
}

@media (max-width:479px) {
    body {
        font-size: 15px
    }
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

* {
    box-sizing: border-box
}

body {
    background-color: #f3f2f0;
}

body.dark {
    background-color: #5c5c5c;
    color: #e0e0e0
}

#root {
    background-color: #fff
}

body.dark #root {
    background-color: #404040
}

.App-header {
    align-items: center;
    display: flex;
    height: 37px;
    justify-content: center;
    margin: 0 auto;
    max-width: 650px;
    padding: 0 10px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.App-page {
    margin: 10px auto;
    max-width: 720px
}

.App-title {
    align-items: center;
    background-color: #d2e4ee;
    border-radius: 6px;
    display: flex;
    font-size: 24px;
    height: 40px;
    justify-content: center;
    max-width: 650px;
    min-width: 100%;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

body.dark .App-title {
    background: #9b9a9a;
    color: #363535
}

.Row,
.Row-letter {
    align-items: center;
    justify-content: center
}

.Row-letter {
    background-color: #e7ebf1;
    border-radius: 5px;
    color: #363535;
    display: flex;
    flex: 1 1;
    font-weight: 700;
    text-transform: uppercase;
    
}

body.dark .Row-letter {
    background-color: #5a5f65
}

body.dark .letter-elsewhere {
    background-color: #b2a249
}

body.dark .letter-absent {
    background-color: #838383
}

body.dark .letter-correct {
    background-color: #4b9969
}

.Row-annotation {
    --webkit-margin-start: 16px;
    -webkit-margin-start: 16px;
    margin-inline-start: 16px;
    text-align: start;
    width: 5em
}

.App-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto
}

.App-container h1 {
    margin-top: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.App-container hr {
    border: none;
    border-top: 1px solid #c5c3c3;
    height: 0;
    margin: 15px;
    padding: 0
}

.App-footer {
    font-size: 80%;
    line-height: 1.5;
    margin: -1rem 0 2rem
}

.App-about {
    line-height: 1.4;
    padding-bottom: 10px;
    padding-top: 10px
}

.App-about b {
    background-color: #888;
    border-radius: 2px;
    color: #fff;
    padding: 1px 3px
}

.App-about b.green-bg {
    background-color: #57ac78
}

.App-about b.yellow-bg {
    background-color: #e9c601
}

.App-button-bar {
    border: none;
    border-radius: 30px;
    display: flex;
    height: 35px;
    padding: 0 10px
}

body.dark .App-button-bar {
    background: none
}

.App-button-bar-under {
    bottom: -35px;
    height: 27px;
    left: 50%;
    position: fixed;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1000
}

.App-button {
    align-items: center;
    background: #52ae9030;
    border: none;
    border-radius: 30px;
    color: #626568;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    justify-content: center;
    line-height: 20px;
    margin: 3px;
    min-height: 35px;
    padding: 4px 14px
}

body.dark .App-button {
    background: #61d9b2cc
}

.App-button:hover {
    background: #5277ae30;
    color: #626568
}

body.dark .App-button:hover {
    background: #79a6e9db
}

.App-button:disabled {
    background-color: #3e485730;
    color: #8c8e91
}

.App-button-marked {
    background-color: #ae525230;
    font-size: .9em;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 11px;
    padding: 4px 18px;
    text-align: center;
    white-space: nowrap
}

.App-button img,
.App-button span {
    vertical-align: middle
}

#select-show-button {
    background-color: #6eb66c;
    color: #fff;
    font-weight: 600
}

#select-show-button:disabled {
    background-color: #c3c3c3
}

.App-button-circle,
.App-button-circle-fixed {
    background-color: #eaeef8;
    border: none;
    border-radius: 50%;
    color: #626568;
    height: 35px;
    margin: 0 5px;
    padding: 0;
    text-align: center;
    text-decoration: none !important;
    width: 35px
}

.App-button-circle {
    height: 27px;
    width: 27px
}

body.dark .App-button-circle,
body.dark .App-button-circle-fixed {
    background-color: #9b9a9a;
    color: #000
}

.App-button-circle-fixed:hover,
.App-button-circle:hover {
    background-color: #6eb66c;
    color: #fff
}

body.dark .App-button-circle-fixed:hover,
body.dark .App-button-circle:hover {
    background-color: #6eb66c
}

.App-button-circle-fixed:disabled,
.App-button-circle:disabled {
    background-color: #6eb66c;
    color: #fff;
    font-weight: 700
}

body.dark .App-button-circle-fixed:disabled,
body.dark .App-button-circle:disabled {
    background-color: #6eb66c
}

.App-button-close {
    background: none;
    border: none;
    cursor: pointer;
    height: 35px;
    padding: 0;
    position: absolute;
    right: 8px;
    width: 35px
}

.App-button-close:after,
.App-button-close:before {
    background-color: #333;
    content: " ";
    height: 20px;
    left: 17px;
    position: absolute;
    top: 8px;
    width: 1px
}

.App-button-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.App-button-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.App-ext-container {
    display: inline
}

#select_length {
    margin: 4px;
    position: relative
}

#select_length>.App-button-circle {
    margin: 0
}

#open_about>input,
#open_generator>input,
#open_settings>input {
    display: block;
    height: 34px;
    width: 34px
}

#open_language>input {
    display: block;
    height: 26px;
    margin: 3px;
    width: 26px
}

.Game,
h1 {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.Game {
    padding-bottom: 8px
}

.game__container-outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%
}

.game__container-inner {
    flex: 1 1 auto;
    margin: auto;
    max-width: 550px;
    overflow: hidden;
    width: 100%
}

.game__boards {
    width: 100%
}

.game__boards-row {
    display: flex;
    width: 100%
}

.row__field {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: .25rem .25rem 0
}

:root {
    --adaptive-height: 2.5vh;
    --adaptive-height-large: 4.5vh;
    --adaptive-font: calc(1.8vh + 2.5px);
    --adaptive-font-large: calc(2vh + 4px)
}

.Row {
    box-sizing: border-box;
    display: flex;
    font-size: calc(1.8vh + 2.5px);
    font-size: var(--adaptive-font);
    height: 2.5vh;
    height: var(--adaptive-height);
    margin: .125rem;
    width: 100%
}

.Row-current {
    font-size: calc(2vh + 4px);
    font-size: var(--adaptive-font-large);
    height: 4.5vh;
    height: var(--adaptive-height-large)
}

@media screen and (min-height:1024px) {
    .Row {
        box-sizing: border-box;
        display: flex;
        margin: .125rem;
        width: 100%
    }
    .Row,
    .Row-current {
        height: max(40px, 2.5vh);
        height: max(40px, var(--adaptive-height))
    }
}

.Row-letter {
    border-radius: .25rem;
    font-size: inherit;
    height: 100%;
    margin: .125rem;
    padding: 0;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 20%;
}
.Row-locked-in .Row-letter{
    min-height: 20px;
    min-width: 20px;
}
.Game-keyboard {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 550px;
    width: 100%
}

.Game-keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: stretch
}

.Game-keyboard-button {
    align-items: center;
    background-color: #cbd3df;
    border-radius: 4px;
    color: inherit;
    cursor: pointer;
    display: flex;
    flex: 1 1;
    font-size: 20px;
    justify-content: center;
    margin: 3px;
    min-height: 40px;
    text-decoration: inherit
}

.Game-keyboard-button-wide {
    flex: 2 1
}

.Game-keyboard-button:focus {
    outline: none
}

.letter-correct {
    background-color: #57ac78;
    border: none;
    color: #fff !important
}

.letter-elsewhere {
    background-color: #e9c601;
    border: none;
    color: #fff !important
}

.letter-absent {
    background-color: #a2a2a2;
    border: none;
    color: #fff !important
}

body.dark .Game-keyboard-button {
    color: #404040
}

a,
a:visited {
    color: #8080ff
}

a:active {
    color: #c7f
}

.Game-options {
    display: flex;
    justify-content: right;
    margin: 0 auto;
    max-width: 350px;
    min-height: 42px;
    padding: 4px
}

.Game-options-playing {
    justify-content: space-between
}

.Game-options .App-button {
    height: 27px;
    margin: 4px 3px 0;
    min-height: 0
}

.Game-challenge-bar {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3px;
    min-height: 18px
}

.Game-challenge-bar button {
    width: 340px
}

.Game-hint-bar {
    margin: 5px
}

.Game-seed-info {
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    display: flex;
    flex-direction: column;
    font-variant-numeric: tabular-nums;
    justify-content: center;
    margin: 3px;
    opacity: .5
}

.Game-sr-feedback,
.sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px
}

.top-right {
    position: absolute;
    right: 5px;
    top: 5px
}

.emoji-link {
    font-size: 125%;
    text-decoration: none
}

.top-right a+a {
    -webkit-margin-start: 8px;
    margin-inline-start: 8px
}

.link-button {
    background-color: #52ae9030;
    border-radius: 14px;
    color: #626568;
    padding: 4px 14px;
    text-decoration: none !important
}

.link-button:hover {
    background-color: #5277ae30;
    color: #626568
}

.Share-icon {
    height: 45px
}

.Share-icons-bar {
    margin: 5px
}

.App-switch-checkbox {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%2386b7fe'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    border: 1px solid #dee2e6;
    border-color: #2f55d4 !important;
    border-radius: 2em;
    cursor: pointer;
    height: 2em;
    transition: background-position .15s ease-in-out;
    width: 4em
}

.App-switch-checkbox:checked {
    background-color: #2f55d4;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
    background-position: 100%;
    border-color: #2f55d4
}

@media screen and (max-width:479px) {
    .App-title {
        font-size: 16px
    }
}

@media screen and (max-width:400px) {
    #select_length {
        display: none
    }
}

.Top-window-content .App-button {
    width: 100%
}

.Game-result-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.Game-result-content>span {
    font-size: 24px;
    margin: 10px
}

body.dark .Game-result-content>span {
    color: #363535
}

.Game-result-ad-container {
    margin: 0
}

.Game-result-answer {
    background: #f1f3f9;
    border: 1px dashed #75819e;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    margin: 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    vertical-align: top
}

body.dark .Game-result-answer {
    background: #e7e7e7;
    color: #363535
}

.Game-result-link {
    font-size: 14px;
    text-decoration: none
}

.Top-window-background {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.Top-window-frame {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 0 hsla(0, 0%, 100%, .5), 0 0 40px rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    margin: 86px 5px 0;
    overflow: auto;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 380px
}

body.dark .Top-window-frame {
    background: #a9a8a8
}

.Top-window-title {
    align-items: center;
    background-color: #f1f3f9;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-grow: 1;
    font-size: 24px;
    font-weight: 800;
    height: 50px;
    justify-content: center;
    padding: 5px;
    position: relative
}

body.dark .Top-window-title {
    background: #9b9a9a;
    color: #363535
}

.Top-window-content {
    height: 100%;
    padding: 5px 20px;
    width: 100%
}

.Hint-background {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.Hint-window {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 0 hsla(0, 0%, 100%, .5), 0 0 40px rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    margin: 235px 5px 0;
    overflow: auto
}

body.dark .Hint-window {
    background-color: #a9a8a8;
    color: #363535
}

.Hint-content {
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase
}

.Hint-content,
.Timer-bar {
    align-items: center;
    display: flex
}

.Timer-time {
    color: #91adb8;
    font-weight: 600;
    margin-right: 5px;
    margin-top: 3px
}

.Timer-button {
    display: block;
    height: 34px;
    width: 34px
}

.Settings {
    font-size: 18px;
    text-align: left;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.Settings-setting {
    margin: 8px;
    position: relative
}

.Settings-setting input[type=range] {
    height: 18px;
    width: 50px
}

.Settings-setting input[type=radio] {
    margin-right: 8px
}

.Settings-setting label {
    -webkit-margin-start: 8px;
    margin-inline-start: 8px
}

.Settings-param-title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 15px;
    text-transform: capitalize
}

.Settings-param-desc {
    display: inline-block;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 80px;
    text-align: left
}

@media (max-width:479px) {
    .Settings-param-title {
        font-size: 16px
    }
    .Settings-param-desc {
        font-size: 12px
    }
}

.Settings-checkbox {
    margin-top: -35px;
    position: absolute;
    right: 15px
}

.App-language>span {
    display: block;
    font-size: 24px;
    margin: 15px
}

.Lang-button {
    align-items: center;
    background-color: #f8f9fc !important;
    border-radius: 8px;
    box-shadow: -6px -6px 14px hsla(0, 0%, 100%, .7), -6px -6px 10px hsla(0, 0%, 100%, .5), 6px 6px 8px hsla(0, 0%, 100%, .08), 6px 6px 10px rgba(0, 0, 0, .15);
    color: #3c4858 !important;
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-around;
    letter-spacing: .5px;
    margin: 12px;
    outline: 0;
    padding: 12px 20px;
    text-decoration: none;
    transition: .2s ease-in-out;
    width: 180px
}

@media (max-width:710px) {
    .Lang-button {
        font-size: 12px;
        margin-top: 5px;
        width: 150px
    }
    .App-language>span {
        font-size: 16px
    }
}

.Lang-button:hover {
    box-shadow: -2px -2px 6px hsla(0, 0%, 100%, .6), -2px -2px 4px hsla(0, 0%, 100%, .4), 2px 2px 2px hsla(0, 0%, 100%, .05), 2px 2px 4px rgba(0, 0, 0, .1)
}

.Lang-button:active {
    box-shadow: inset -2px -2px 6px hsla(0, 0%, 100%, .7), inset -2px -2px 4px hsla(0, 0%, 100%, .5), inset 2px 2px 2px hsla(0, 0%, 100%, .075), inset 2px 2px 4px rgba(0, 0, 0, .15)
}

body.dark .Lang-button {
    background-color: #70768f !important;
    box-shadow: -6px -6px 14px rgba(0, 0, 0, .7), -6px -6px 10px rgba(0, 0, 0, .5), 6px 6px 8px rgba(0, 0, 0, .08), 6px 6px 10px rgba(0, 0, 0, .15)
}

body.dark .Lang-button:hover {
    box-shadow: -2px -2px 6px rgba(0, 0, 0, .6), -2px -2px 4px rgba(0, 0, 0, .4), 2px 2px 2px rgba(0, 0, 0, .05), 2px 2px 4px rgba(0, 0, 0, .1)
}

body.dark .Lang-button:active {
    box-shadow: inset -2px -2px 6px rgba(0, 0, 0, .7), inset -2px -2px 4px rgba(0, 0, 0, .5), inset 2px 2px 2px rgba(0, 0, 0, .08), inset 2px 2px 4px rgba(0, 0, 0, .15)
}

.Lang-button>img {
    flex-grow: 1;
    max-width: 21px
}

.Lang-button>span {
    color: #000;
    flex-grow: 5
}

.Generator-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.Generator-content>.App-button {
    margin: 20px 0;
    width: 100%
}

.Generator-content-text {
    font-size: 20px;
    margin: 10px
}

.Generator-content-text-small {
    font-size: 14px;
    margin: 10px
}

.Generator-random-text {
    font-size: 15px;
    margin: 5px
}

.Generator-content-input {
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 0 10px;
    min-height: 44px;
    padding: 0 15px;
    width: 80%
}

.Generator-random-checkbox {
    align-items: center;
    display: flex
}

.Generator-button-label,
.Generator-button-random {
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    min-height: 27px;
    min-width: 27px;
    width: auto
}

.Generator-button-random {
    border-radius: 13px;
    padding-left: 7px;
    padding-right: 7px
}
